

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}


.hero-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)); 
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  background: transparent;
}

.logo img {
  height: 30px;
  filter: brightness(0) invert(1); 
  margin-right: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

li{
    list-style-type: none;
}
li a{
    color:white;
    text-decoration:none;
}


.vdo{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    margin-top: -100px;
    z-index: -1;
    object-fit: cover;

}